body {
    background-color: azure;
    font-family: arial, verdana, sans-serif;
 }

 h1 {
    text-align: center;
 }
 
 table{
     background-color: rgb(229, 235, 247);
     border: 2px solid;
     margin-right: auto;
     margin-left: auto;
     width: 75%;
     border-collapse: collapse;
 }
td {
    border: 2px solid;

}

tr th{
    border: 2px solid;
}