body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(166, 217, 241);
    width: 100%;
    margin: 0 auto;
}
#salmonlogo {
        margin-left:200px;
        margin-top: 12px;
}
#navlist{
    text-align: center;
    list-style: none;
}
#navlist li{
    display: inline-block;
}
#navlist li a  {
    color: white;
    position: relative;
    bottom:35px;
    padding-left: 25px;
    padding-right: 25px;
}
#heading1 {
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}
#hero {
    padding: 15px;
    display: block;
    margin: 0 auto;
    
}
main p {
    text-align: center;
    width: 50%;
    margin-left:350px;
    padding-top: 15px; 
    font-size: 18px;
}
section {
    display: inline-block;
    margin: 0 auto;

}
section ul li{
    display: inline;
    text-align: center ;
    margin-left: 250px;

}
section li {
    display: inline-block;
    padding: 15px;
}

#locations{
    background-color: darkgray;
}
#locations li {
    display: inline;
    list-style: none;
    text-align: center;
}
#storeitems{
    text-align: center;

}
#storeitems li{
    display: inline;
}
